#header-wrap {
  width: 100vw;
  height: 102px;
  top: 0;
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  background-color: #f2e9d8;
  /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); */
}

.nav-bar {
  display: flex;
}

.header-logo {
  width: 20vw;
  height: 3vh;
  top: 31px;
  left: 10vw;
  position: absolute;
  cursor: pointer;
}

.nav-items {
  width: 18vw;
  /* width: 205px; */
  height: 2vh;
  /* height: 20px; */
  top: 41px;
  right: 20vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
