#header-wrap {
  width: 100vw;
  height: 102px;
  background-color: #f2e9d8;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
}

.nav-bar {
  display: flex;
}
